@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="code" name="" underline="true"/>
                            <#input id="department" name="" underline="true"/>
                            <#input id="fillingperson" name="" underline="true"/>
                            <#input id="patientName" name="" underline="true"/>
                            <#input id="patientSex" name="" underline="true"/>
                            <#input id="patientAge" name="" underline="true"/>
                            <#input id="patientAddress" name="" underline="true"/>
                            <#input id="birthday" name="" underline="true"/>
                            <#input id="height" name="" underline="true"/>
                            <#input id="weight" name="" underline="true"/>
                            <#input id="firsttime" name="" underline="true"/>
                            <#input id="specialsigns" name="" underline="true"/>
                            <#input id="vtehistory" name="" underline="true"/>
                            <#input id="ape" name="" underline="true"/>
                            <#input id="ledvt" name="" underline="true"/>
                            <#input id="otherthrombus" name="" underline="true"/>
                            <#input id="firstvtetime" name="" underline="true"/>
                            <#input id="vterelapse" name="" underline="true"/>
                            <#input id="malignanttumor" name="" underline="true"/>
                            <#input id="splenectomy" name="" underline="true"/>
                            <#input id="pacemaker" name="" underline="true"/>
                            <#input id="atrialhistory" name="" underline="true"/>
                            <#input id="aas" name="" underline="true"/>
                            <#input id="hps" name="" underline="true"/>
                            <#input id="cdeficiency" name="" underline="true"/>
                            <#input id="sdeficiency" name="" underline="true"/>
                            <#input id="atdeficiency" name="" underline="true"/>
                            <#input id="levv" name="" underline="true"/>
                            <#input id="ibd" name="" underline="true"/>
                            <#input id="ibdspecific" name="" underline="true"/>
                            <#input id="otherrisk" name="" underline="true"/>
                            <#input id="hypertension" name="" underline="true"/>
                            <#input id="coronaryheart" name="" underline="true"/>
                            <#input id="revascularization" name="" underline="true"/>
                            <#input id="diabetes" name="" underline="true"/>
                            <#input id="renalinsufficiency" name="" underline="true"/>
                            <#input id="cerebralinfarction" name="" underline="true"/>
                            <#input id="copd" name="" underline="true"/>
                            <#input id="congenitalheart" name="" underline="true"/>
                            <#input id="chdspecific" name="" underline="true"/>
                            <#input id="connectivetissue" name="" underline="true"/>
                            <#input id="ctdspecific" name="" underline="true"/>
                            <#input id="hypothyroidism" name="" underline="true"/>
                            <#input id="hyperthyroidism" name="" underline="true"/>
                            <#input id="anemia" name="" underline="true"/>
                            <#input id="polycythemia" name="" underline="true"/>
                            <#input id="plateletlower" name="" underline="true"/>
                            <#input id="plateletup" name="" underline="true"/>
                            <#input id="othercomplications" name="" underline="true"/>
                            <#input id="cteph" name="" underline="true"/>
                            <#input id="sixmwd" name="" underline="true"/>
                            <#input id="noreason1" name="" underline="true"/>
                            <#input id="walking" name="" underline="true"/>
                            <#input id="ppi" name="" underline="true"/>
                            <#input id="ctpat" name="" underline="true"/>
                            <#input id="mripae" name="" underline="true"/>
                            <#input id="cmri" name="" underline="true"/>
                            <#input id="rhc" name="" underline="true"/>
                            <#input id="noreason2" name="" underline="true"/>
                            <#input id="otherreason" name="" underline="true"/>
                            <#input id="pa" name="" underline="true"/>
                            <#input id="firstcatheter" name="" underline="true"/>
                            <#input id="hr" name="" underline="true"/>
                            <#input id="bpshrink" name="" underline="true"/>
                            <#input id="bprelaxation" name="" underline="true"/>
                            <#input id="bpave" name="" underline="true"/>
                            <#input id="rap" name="" underline="true"/>
                            <#input id="rapshrink" name="" underline="true"/>
                            <#input id="raprelaxation1" name="" underline="true"/>
                            <#input id="rapave" name=""/>
                </div>

                <div class="col-sm-6">
                            <#input id="pap" name="" underline="true"/>
                            <#input id="papshrink" name="" underline="true"/>
                            <#input id="raprelaxation2" name="" underline="true"/>
                            <#input id="papave" name="" underline="true"/>
                            <#input id="pawp" name="" underline="true"/>
                            <#input id="pawpshrink" name="" underline="true"/>
                            <#input id="pawprelaxation" name="" underline="true"/>
                            <#input id="pawpave" name="" underline="true"/>
                            <#input id="co" name="" underline="true"/>
                            <#input id="comethod" name="" underline="true"/>
                            <#input id="ci" name="" underline="true"/>
                            <#input id="pvr" name="" underline="true"/>
                            <#input id="svo2" name="" underline="true"/>
                            <#input id="lvedd" name="" underline="true"/>
                            <#input id="lvef" name="" underline="true"/>
                            <#input id="pasp" name="" underline="true"/>
                            <#input id="pe" name="" underline="true"/>
                            <#input id="bloodgroup" name="" underline="true"/>
                            <#input id="hcy" name="" underline="true"/>
                            <#input id="hcynumber" name="" underline="true"/>
                            <#input id="nt" name="" underline="true"/>
                            <#input id="ntnumber" name="" underline="true"/>
                            <#input id="aa" name="" underline="true"/>
                            <#input id="la" name="" underline="true"/>
                            <#input id="acllgg" name="" underline="true"/>
                            <#input id="acllgm" name="" underline="true"/>
                            <#input id="lgg" name="" underline="true"/>
                            <#input id="lgm" name="" underline="true"/>
                            <#input id="threeitems" name="" underline="true"/>
                            <#input id="ats" name="" underline="true"/>
                            <#input id="proteins" name="" underline="true"/>
                            <#input id="proteinc" name="" underline="true"/>
                            <#input id="hat" name="" underline="true"/>
                            <#input id="bloodgas" name="" underline="true"/>
                            <#input id="ph" name="" underline="true"/>
                            <#input id="pco" name="" underline="true"/>
                            <#input id="po" name="" underline="true"/>
                            <#input id="sao" name="" underline="true"/>
                            <#input id="paa" name="" underline="true"/>
                            <#input id="anticoagulant" name="" underline="true"/>
                            <#input id="drug1" name="" underline="true"/>
                            <#input id="otherdrug" name="" underline="true"/>
                            <#input id="targeting" name="" underline="true"/>
                            <#input id="laxg" name="" underline="true"/>
                            <#input id="fivepi" name="" underline="true"/>
                            <#input id="drug2" name="" underline="true"/>
                            <#input id="era" name="" underline="true"/>
                            <#input id="drug3" name="" underline="true"/>
                            <#input id="prostacyclin" name="" underline="true"/>
                            <#input id="drug4" name="" underline="true"/>
                            <#input id="exfoliation" name="" underline="true"/>
                            <#input id="angioplasty" name="" underline="true"/>
                            <#input id="death" name="" underline="true"/>
                            <#input id="deathreason" name="" underline="true"/>
                            <#input id="addition1" name="" underline="true"/>
                            <#input id="addition2" name="" underline="true"/>
                            <#input id="addition3" name="" underline="true"/>
                            <#input id="addition4" name="" underline="true"/>
                            <#input id="addition5" name="" underline="true"/>
                            <#input id="addition6" name="" underline="true"/>
                            <#input id="addition7" name="" underline="true"/>
                            <#input id="addition8" name="" underline="true"/>
                            <#input id="addition9" name="" underline="true"/>
                            <#input id="addition10" name="" underline="true"/>
                            <#input id="creator" name="" underline="true"/>
                            <#input id="creationtime" name="" underline="true"/>
                            <#input id="modifier" name="" underline="true"/>
                            <#input id="modifiedtime" name="" underline="true"/>
                            <#input id="ts" name="" underline="true"/>
                            <#input id="dr" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CtephInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CtephInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/cteph/cteph/cteph_info.js"></script>
@}
