@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="code" name="" underline="true"/>
                            <#input id="department" name="" underline="true"/>
                            <#input id="fillingperson" name="" underline="true"/>
                            <#input id="patientName" name="" underline="true"/>
                            <#input id="patientSex" name="" underline="true"/>
                            <#input id="patientAddress" name="" underline="true"/>
                            <#input id="birthday" name="" underline="true"/>
                            <#input id="height" name="" underline="true"/>
                            <#input id="weight" name="" underline="true"/>
                            <#input id="firsttime" name="" underline="true"/>
                            <#input id="specialsigns" name="" underline="true"/>
                            <#input id="vtehistory" name="" underline="true"/>
                            <#input id="ape" name="" underline="true"/>
                            <#input id="ledvt" name="" underline="true"/>
                            <#input id="otherthrombus" name="" underline="true"/>
                            <#input id="firstvtetime" name="" underline="true"/>
                            <#input id="vterelapse" name="" underline="true"/>
                            <#input id="malignanttumor" name="" underline="true"/>
                            <#input id="splenectomy" name="" underline="true"/>
                            <#input id="pacemaker" name="" underline="true"/>
                            <#input id="atrialhistory" name="" underline="true"/>
                            <#input id="levv" name="" underline="true"/>
                            <#input id="ibd" name="" underline="true"/>
                            <#input id="otherrisk" name="" underline="true"/>
                            <#input id="hypertension" name="" underline="true"/>
                            <#input id="coronaryheart" name="" underline="true"/>
                            <#input id="revascularization" name="" underline="true"/>
                            <#input id="diabetes" name="" underline="true"/>
                            <#input id="renalinsufficiency" name="" underline="true"/>
                            <#input id="cerebralinfarction" name="" underline="true"/>
                            <#input id="copd" name="" underline="true"/>
                            <#input id="congenitalheart" name="" underline="true"/>
                            <#input id="chdspecific" name="" underline="true"/>
                            <#input id="hypothyroidism" name="" underline="true"/>
                            <#input id="hyperthyroidism" name="" underline="true"/>
                            <#input id="anemia" name="" underline="true"/>
                            <#input id="polycythemia" name="" underline="true"/>
                            <#input id="plateletlower" name="" underline="true"/>
                            <#input id="plateletup" name="" underline="true"/>
                            <#input id="othercomplications" name="" underline="true"/>
                            <#input id="cteph" name="" underline="true"/>
                            <#input id="sixmwd" name="" underline="true"/>
                            <#input id="noreason1" name="" underline="true"/>
                            <#input id="walking" name="" underline="true"/>
                            <#input id="ppi" name="" underline="true"/>
                            <#input id="ctpat" name="" underline="true"/>
                            <#input id="mripae" name="" underline="true"/>
                            <#input id="cmri" name="" underline="true"/>
                            <#input id="rhc" name="" underline="true"/>
                            <#input id="noreason2" name="" underline="true"/>
                            <#input id="otherreason" name="" underline="true"/>
                            <#input id="pa" name="" underline="true"/>
                            <#input id="firstcatheter" name="" underline="true"/>
                            <#input id="hr" name="" underline="true"/>
                            <#input id="bpshrink" name="" underline="true"/>
                            <#input id="bprelaxation" name="" underline="true"/>
                            <#input id="bpave" name="" underline="true"/>
                            <#input id="rap" name="" underline="true"/>
                            <#input id="rapshrink" name="" underline="true"/>
                            <#input id="raprelaxation1" name="" underline="true"/>
                            <#input id="rapave" name="" underline="true"/>
                            <#input id="pap" name="" underline="true"/>
                            <#input id="papshrink" name="" underline="true"/>
                            <#input id="raprelaxation2" name="" underline="true"/>
                            <#input id="papave" name="" underline="true"/>
                            <#input id="pawp" name="" underline="true"/>
                            <#input id="pawpshrink" name="" underline="true"/>
                            <#input id="pawprelaxation" name="" underline="true"/>
                            <#input id="pawpave" name="" underline="true"/>
                            <#input id="co" name="" underline="true"/>
                            <#input id="comethod" name="" underline="true"/>
                            <#input id="ci" name="" underline="true"/>
                            <#input id="pvr" name="" underline="true"/>
                            <#input id="lvedd" name="" underline="true"/>
                            <#input id="lvef" name="" underline="true"/>
                            <#input id="pasp" name="" underline="true"/>
                            <#input id="pe" name="" underline="true"/>
                            <#input id="bloodgroup" name="" underline="true"/>
                            <#input id="nt" name="" underline="true"/>
                            <#input id="ntnumber" name="" underline="true"/>
                            <#input id="bloodgas" name="" underline="true"/>
                            <#input id="pco" name=""/>
                </div>

                <div class="col-sm-6">
                            <#input id="po" name="" underline="true"/>
                            <#input id="sao" name="" underline="true"/>
                            <#input id="paa" name="" underline="true"/>
                            <#input id="anticoagulant" name="" underline="true"/>
                            <#input id="drug1" name="" underline="true"/>
                            <#input id="otherdrug" name="" underline="true"/>
                            <#input id="targeting" name="" underline="true"/>
                            <#input id="laxg" name="" underline="true"/>
                            <#input id="fivepi" name="" underline="true"/>
                            <#input id="drug2" name="" underline="true"/>
                            <#input id="era" name="" underline="true"/>
                            <#input id="drug3" name="" underline="true"/>
                            <#input id="prostacyclin" name="" underline="true"/>
                            <#input id="drug4" name="" underline="true"/>
                            <#input id="exfoliation" name="" underline="true"/>
                            <#input id="angioplasty" name="" underline="true"/>
                            <#input id="death" name="" underline="true"/>
                            <#input id="deathreason" name="" underline="true"/>
                            <#input id="addition1" name="" underline="true"/>
                            <#input id="addition2" name="" underline="true"/>
                            <#input id="addition3" name="" underline="true"/>
                            <#input id="addition4" name="" underline="true"/>
                            <#input id="addition5" name="" underline="true"/>
                            <#input id="addition6" name="" underline="true"/>
                            <#input id="addition7" name="" underline="true"/>
                            <#input id="addition8" name="" underline="true"/>
                            <#input id="addition9" name="" underline="true"/>
                            <#input id="addition10" name="" underline="true"/>
                            <#input id="creator" name="" underline="true"/>
                            <#input id="creationtime" name="" underline="true"/>
                            <#input id="modifier" name="" underline="true"/>
                            <#input id="modifiedtime" name="" underline="true"/>
                            <#input id="ts" name="" underline="true"/>
                            <#input id="dr" name="" underline="true"/>
                            <#input id="specifictumor" name="" underline="true"/>
                            <#input id="malignanttumordate" name="" underline="true"/>
                            <#input id="splenectormydate" name="" underline="true"/>
                            <#input id="pacemakerdate" name="" underline="true"/>
                            <#input id="atrialhistorydate" name="" underline="true"/>
                            <#input id="levvdate" name="" underline="true"/>
                            <#input id="ibddiagnosis" name="" underline="true"/>
                            <#input id="ibddate" name="" underline="true"/>
                            <#input id="sie" name="" underline="true"/>
                            <#input id="sjogrens" name="" underline="true"/>
                            <#input id="ssclerosis" name="" underline="true"/>
                            <#input id="mctd" name="" underline="true"/>
                            <#input id="rarthritis" name="" underline="true"/>
                            <#input id="uctd" name="" underline="true"/>
                            <#input id="octd" name="" underline="true"/>
                            <#input id="octdspecific" name="" underline="true"/>
                            <#input id="hcylevel" name="" underline="true"/>
                            <#input id="maximum" name="" underline="true"/>
                            <#input id="at3" name="" underline="true"/>
                            <#input id="otherriskjudge" name="" underline="true"/>
                            <#input id="lhfailure" name="" underline="true"/>
                            <#input id="lhfailurespecific" name="" underline="true"/>
                            <#input id="eosinophilia" name="" underline="true"/>
                            <#input id="othercomplicationss" name="" underline="true"/>
                            <#input id="respiratory" name="" underline="true"/>
                            <#input id="vcmax" name="" underline="true"/>
                            <#input id="tlc" name="" underline="true"/>
                            <#input id="rv" name="" underline="true"/>
                            <#input id="rvtlc" name="" underline="true"/>
                            <#input id="fev1" name="" underline="true"/>
                            <#input id="fev1fvc" name="" underline="true"/>
                            <#input id="fef" name="" underline="true"/>
                            <#input id="tlcosb" name="" underline="true"/>
                            <#input id="tlcova" name="" underline="true"/>
                            <#input id="cet" name="" underline="true"/>
                            <#input id="heartmri" name="" underline="true"/>
                            <#input id="ddimer" name="" underline="true"/>
                            <#input id="ast" name="" underline="true"/>
                            <#input id="alt" name="" underline="true"/>
                            <#input id="tbil" name="" underline="true"/>
                            <#input id="dbil" name="" underline="true"/>
                            <#input id="cr" name="" underline="true"/>
                            <#input id="abgt" name="" underline="true"/>
                            <#input id="antiplatelet" name="" underline="true"/>
                            <#input id="drug5" name="" underline="true"/>
                            <#input id="otherdrug2" name="" underline="true"/>
                            <#input id="exfoliationdate" name="" underline="true"/>
                            <#input id="angioplastyfdate" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CtephInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CtephInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/ctephtemp/cteph/cteph_info.js"></script>
@}
