@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="code" name="" value="${item.code}" underline="true"/>
                            <#input id="department" name="" value="${item.department}" underline="true"/>
                            <#input id="fillingperson" name="" value="${item.fillingperson}" underline="true"/>
                            <#input id="patientName" name="" value="${item.patientName}" underline="true"/>
                            <#input id="patientSex" name="" value="${item.patientSex}" underline="true"/>
                            <#input id="patientAddress" name="" value="${item.patientAddress}" underline="true"/>
                            <#input id="birthday" name="" value="${item.birthday}" underline="true"/>
                            <#input id="height" name="" value="${item.height}" underline="true"/>
                            <#input id="weight" name="" value="${item.weight}" underline="true"/>
                            <#input id="firsttime" name="" value="${item.firsttime}" underline="true"/>
                            <#input id="specialsigns" name="" value="${item.specialsigns}" underline="true"/>
                            <#input id="vtehistory" name="" value="${item.vtehistory}" underline="true"/>
                            <#input id="ape" name="" value="${item.ape}" underline="true"/>
                            <#input id="ledvt" name="" value="${item.ledvt}" underline="true"/>
                            <#input id="otherthrombus" name="" value="${item.otherthrombus}" underline="true"/>
                            <#input id="firstvtetime" name="" value="${item.firstvtetime}" underline="true"/>
                            <#input id="vterelapse" name="" value="${item.vterelapse}" underline="true"/>
                            <#input id="malignanttumor" name="" value="${item.malignanttumor}" underline="true"/>
                            <#input id="specifictumor" name="" value="${item.specifictumor}" underline="true"/>
                            <#input id="malignanttumordate" name="" value="${item.malignanttumordate}" underline="true"/>
                            <#input id="splenectomy" name="" value="${item.splenectomy}" underline="true"/>
                            <#input id="splenectormydate" name="" value="${item.splenectormydate}" underline="true"/>
                            <#input id="pacemaker" name="" value="${item.pacemaker}" underline="true"/>
                            <#input id="pacemakerdate" name="" value="${item.pacemakerdate}" underline="true"/>
                            <#input id="atrialhistory" name="" value="${item.atrialhistory}" underline="true"/>
                            <#input id="atrialhistorydate" name="" value="${item.atrialhistorydate}" underline="true"/>
                            <#input id="levv" name="" value="${item.levv}" underline="true"/>
                            <#input id="levvdate" name="" value="${item.levvdate}" underline="true"/>
                            <#input id="ibd" name="" value="${item.ibd}" underline="true"/>
                            <#input id="ibddiagnosis" name="" value="${item.ibddiagnosis}" underline="true"/>
                            <#input id="ibddate" name="" value="${item.ibddate}" underline="true"/>
                            <#input id="connectivetissue" name="" value="${item.connectivetissue}" underline="true"/>
                            <#input id="aas" name="" value="${item.aas}" underline="true"/>
                            <#input id="la" name="" value="${item.la}" underline="true"/>
                            <#input id="acllgg" name="" value="${item.acllgg}" underline="true"/>
                            <#input id="acllgm" name="" value="${item.acllgm}" underline="true"/>
                            <#input id="lgg" name="" value="${item.lgg}" underline="true"/>
                            <#input id="lgm" name="" value="${item.lgm}" underline="true"/>
                            <#input id="sie" name="" value="${item.sie}" underline="true"/>
                            <#input id="sjogrens" name="" value="${item.sjogrens}" underline="true"/>
                            <#input id="ssclerosis" name="" value="${item.ssclerosis}" underline="true"/>
                            <#input id="mctd" name="" value="${item.mctd}" underline="true"/>
                            <#input id="rarthritis" name="" value="${item.rarthritis}" underline="true"/>
                            <#input id="uctd" name="" value="${item.uctd}" underline="true"/>
                            <#input id="octd" name="" value="${item.octd}" underline="true"/>
                            <#input id="octdspecific" name="" value="${item.octdspecific}" underline="true"/>
                            <#input id="hps" name="" value="${item.hps}" underline="true"/>
                            <#input id="hcylevel" name="" value="${item.hcylevel}" underline="true"/>
                            <#input id="maximum" name="" value="${item.maximum}" underline="true"/>
                            <#input id="threeitems" name="" value="${item.threeitems}" underline="true"/>
                            <#input id="at" name="" value="${item.at}" underline="true"/>
                            <#input id="proteins" name="" value="${item.proteins}" underline="true"/>
                            <#input id="proteinc" name="" value="${item.proteinc}" underline="true"/>
                            <#input id="hat" name="" value="${item.hat}" underline="true"/>
                            <#input id="otherriskjudge" name="" value="${item.otherriskjudge}" underline="true"/>
                            <#input id="otherrisk" name="" value="${item.otherrisk}" underline="true"/>
                            <#input id="hypertension" name="" value="${item.hypertension}" underline="true"/>
                            <#input id="coronaryheart" name="" value="${item.coronaryheart}" underline="true"/>
                            <#input id="revascularization" name="" value="${item.revascularization}" underline="true"/>
                            <#input id="diabetes" name="" value="${item.diabetes}" underline="true"/>
                            <#input id="lhfailure" name="" value="${item.lhfailure}" underline="true"/>
                            <#input id="lhfailurespecific" name="" value="${item.lhfailurespecific}" underline="true"/>
                            <#input id="renalinsufficiency" name="" value="${item.renalinsufficiency}" underline="true"/>
                            <#input id="cerebralinfarction" name="" value="${item.cerebralinfarction}" underline="true"/>
                            <#input id="copd" name="" value="${item.copd}" underline="true"/>
                            <#input id="congenitalheart" name="" value="${item.congenitalheart}" underline="true"/>
                            <#input id="chdspecific" name="" value="${item.chdspecific}" underline="true"/>
                            <#input id="hypothyroidism" name="" value="${item.hypothyroidism}" underline="true"/>
                            <#input id="hyperthyroidism" name="" value="${item.hyperthyroidism}" underline="true"/>
                            <#input id="anemia" name="" value="${item.anemia}" underline="true"/>
                            <#input id="polycythemia" name="" value="${item.polycythemia}" underline="true"/>
                            <#input id="eosinophilia" name="" value="${item.eosinophilia}" underline="true"/>
                            <#input id="plateletlower" name="" value="${item.plateletlower}" underline="true"/>
                            <#input id="plateletup" name="" value="${item.plateletup}" underline="true"/>
                            <#input id="othercomplications" name="" value="${item.othercomplications}" underline="true"/>
                            <#input id="othercomplicationss" name="" value="${item.othercomplicationss}" underline="true"/>
                            <#input id="cteph" name="" value="${item.cteph}" underline="true"/>
                            <#input id="sixmwd" name="" value="${item.sixmwd}" underline="true"/>
                            <#input id="noreason1" name="" value="${item.noreason1}" underline="true"/>
                            <#input id="walking" name="" value="${item.walking}" underline="true"/>
                            <#input id="respiratory" name="" value="${item.respiratory}" underline="true"/>
                            <#input id="vcmax" name="" value="${item.vcmax}" underline="true"/>
                            <#input id="tlc" name="" value="${item.tlc}" underline="true"/>
                            <#input id="rv" name="" value="${item.rv}" underline="true"/>
                            <#input id="rvtlc" name="" value="${item.rvtlc}" underline="true"/>
                            <#input id="fev1" name="" value="${item.fev1}" underline="true"/>
                            <#input id="fev1fvc" name="" value="${item.fev1fvc}" underline="true"/>
                            <#input id="fef" name="" value="${item.fef}" />
                </div>

                <div class="col-sm-6">
                            <#input id="tlcosb" name="" value="${item.tlcosb}" underline="true"/>
                            <#input id="tlcova" name="" value="${item.tlcova}" underline="true"/>
                            <#input id="cet" name="" value="${item.cet}" underline="true"/>
                            <#input id="heartmri" name="" value="${item.heartmri}" underline="true"/>
                            <#input id="ppi" name="" value="${item.ppi}" underline="true"/>
                            <#input id="ctpat" name="" value="${item.ctpat}" underline="true"/>
                            <#input id="mripae" name="" value="${item.mripae}" underline="true"/>
                            <#input id="cmri" name="" value="${item.cmri}" underline="true"/>
                            <#input id="rhc" name="" value="${item.rhc}" underline="true"/>
                            <#input id="noreason2" name="" value="${item.noreason2}" underline="true"/>
                            <#input id="otherreason" name="" value="${item.otherreason}" underline="true"/>
                            <#input id="pa" name="" value="${item.pa}" underline="true"/>
                            <#input id="firstcatheter" name="" value="${item.firstcatheter}" underline="true"/>
                            <#input id="hr" name="" value="${item.hr}" underline="true"/>
                            <#input id="bpshrink" name="" value="${item.bpshrink}" underline="true"/>
                            <#input id="bprelaxation" name="" value="${item.bprelaxation}" underline="true"/>
                            <#input id="bpave" name="" value="${item.bpave}" underline="true"/>
                            <#input id="rap" name="" value="${item.rap}" underline="true"/>
                            <#input id="rapshrink" name="" value="${item.rapshrink}" underline="true"/>
                            <#input id="raprelaxation1" name="" value="${item.raprelaxation1}" underline="true"/>
                            <#input id="rapave" name="" value="${item.rapave}" underline="true"/>
                            <#input id="pap" name="" value="${item.pap}" underline="true"/>
                            <#input id="papshrink" name="" value="${item.papshrink}" underline="true"/>
                            <#input id="raprelaxation2" name="" value="${item.raprelaxation2}" underline="true"/>
                            <#input id="papave" name="" value="${item.papave}" underline="true"/>
                            <#input id="pawp" name="" value="${item.pawp}" underline="true"/>
                            <#input id="pawpshrink" name="" value="${item.pawpshrink}" underline="true"/>
                            <#input id="pawprelaxation" name="" value="${item.pawprelaxation}" underline="true"/>
                            <#input id="pawpave" name="" value="${item.pawpave}" underline="true"/>
                            <#input id="co" name="" value="${item.co}" underline="true"/>
                            <#input id="comethod" name="" value="${item.comethod}" underline="true"/>
                            <#input id="ci" name="" value="${item.ci}" underline="true"/>
                            <#input id="pvr" name="" value="${item.pvr}" underline="true"/>
                            <#input id="lvedd" name="" value="${item.lvedd}" underline="true"/>
                            <#input id="lvef" name="" value="${item.lvef}" underline="true"/>
                            <#input id="pasp" name="" value="${item.pasp}" underline="true"/>
                            <#input id="tapse" name="" value="${item.tapse}" underline="true"/>
                            <#input id="pe" name="" value="${item.pe}" underline="true"/>
                            <#input id="bloodgroup" name="" value="${item.bloodgroup}" underline="true"/>
                            <#input id="ddimer" name="" value="${item.ddimer}" underline="true"/>
                            <#input id="nt" name="" value="${item.nt}" underline="true"/>
                            <#input id="ntnumber" name="" value="${item.ntnumber}" underline="true"/>
                            <#input id="ast" name="" value="${item.ast}" underline="true"/>
                            <#input id="alt" name="" value="${item.alt}" underline="true"/>
                            <#input id="tbil" name="" value="${item.tbil}" underline="true"/>
                            <#input id="dbil" name="" value="${item.dbil}" underline="true"/>
                            <#input id="cr" name="" value="${item.cr}" underline="true"/>
                            <#input id="bloodgas" name="" value="${item.bloodgas}" underline="true"/>
                            <#input id="abgt" name="" value="${item.abgt}" underline="true"/>
                            <#input id="pco" name="" value="${item.pco}" underline="true"/>
                            <#input id="po" name="" value="${item.po}" underline="true"/>
                            <#input id="sao" name="" value="${item.sao}" underline="true"/>
                            <#input id="paa" name="" value="${item.paa}" underline="true"/>
                            <#input id="anticoagulant" name="" value="${item.anticoagulant}" underline="true"/>
                            <#input id="drug1" name="" value="${item.drug1}" underline="true"/>
                            <#input id="otherdrug" name="" value="${item.otherdrug}" underline="true"/>
                            <#input id="antiplatelet" name="" value="${item.antiplatelet}" underline="true"/>
                            <#input id="drug5" name="" value="${item.drug5}" underline="true"/>
                            <#input id="otherdrug2" name="" value="${item.otherdrug2}" underline="true"/>
                            <#input id="targeting" name="" value="${item.targeting}" underline="true"/>
                            <#input id="laxg" name="" value="${item.laxg}" underline="true"/>
                            <#input id="fivepi" name="" value="${item.fivepi}" underline="true"/>
                            <#input id="drug2" name="" value="${item.drug2}" underline="true"/>
                            <#input id="era" name="" value="${item.era}" underline="true"/>
                            <#input id="drug3" name="" value="${item.drug3}" underline="true"/>
                            <#input id="prostacyclin" name="" value="${item.prostacyclin}" underline="true"/>
                            <#input id="drug4" name="" value="${item.drug4}" underline="true"/>
                            <#input id="exfoliation" name="" value="${item.exfoliation}" underline="true"/>
                            <#input id="exfoliationdate" name="" value="${item.exfoliationdate}" underline="true"/>
                            <#input id="angioplasty" name="" value="${item.angioplasty}" underline="true"/>
                            <#input id="angioplastyfdate" name="" value="${item.angioplastyfdate}" underline="true"/>
                            <#input id="death" name="" value="${item.death}" underline="true"/>
                            <#input id="deathreason" name="" value="${item.deathreason}" underline="true"/>
                            <#input id="addition1" name="" value="${item.addition1}" underline="true"/>
                            <#input id="addition2" name="" value="${item.addition2}" underline="true"/>
                            <#input id="addition3" name="" value="${item.addition3}" underline="true"/>
                            <#input id="addition4" name="" value="${item.addition4}" underline="true"/>
                            <#input id="addition5" name="" value="${item.addition5}" underline="true"/>
                            <#input id="addition6" name="" value="${item.addition6}" underline="true"/>
                            <#input id="addition7" name="" value="${item.addition7}" underline="true"/>
                            <#input id="addition8" name="" value="${item.addition8}" underline="true"/>
                            <#input id="addition9" name="" value="${item.addition9}" underline="true"/>
                            <#input id="addition10" name="" value="${item.addition10}" underline="true"/>
                            <#input id="creator" name="" value="${item.creator}" underline="true"/>
                            <#input id="creationtime" name="" value="${item.creationtime}" underline="true"/>
                            <#input id="modifier" name="" value="${item.modifier}" underline="true"/>
                            <#input id="modifiedtime" name="" value="${item.modifiedtime}" underline="true"/>
                            <#input id="ts" name="" value="${item.ts}" underline="true"/>
                            <#input id="dr" name="" value="${item.dr}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CtephInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CtephInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/ctephtemp/cteph/cteph_info.js"></script>
@}
