@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">

        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="序号" value="${item.id}" underline="true"/>
                            <#input id="rowno" name="行号" value="${item.rowno}" underline="true"/>
                            <#input id="hid" name="父序号" value="${item.hid}" underline="true"/>
                            <#input id="breathShort" name="气短" value="${item.breathShort}" underline="true"/>
                            <#input id="syncope" name="晕厥" value="${item.syncope}" underline="true"/>
                            <#input id="syncopeTimes" name="晕厥次数" value="${item.syncopeTimes}" underline="true"/>
                            <#input id="syncopeTime" name="晕厥时间" value="${item.syncopeTime}" underline="true"/>
                            <#input id="hemoptysis" name="咳血" value="${item.hemoptysis}" underline="true"/>

                </div>

                <div class="col-sm-6">
                            <#input id="hemoptysisTimes" name="咳血次数" value="${item.hemoptysisTimes}" underline="true"/>
                            <#input id="hemoptysisMax" name="咳血时间" value="${item.hemoptysisMax}" underline="true"/>
                            <#input id="swollen" name="浮肿" value="${item.swollen}" underline="true"/>
                            <#input id="others" name="其他" value="${item.others}" underline="true"/>
                            <#input id="creationTime" name="创建时间" value="${item.creationTime}" underline="true"/>
                            <#input id="modifiedTime" name="修改时间" value="${item.modifiedTime}" underline="true"/>
                            <#input id="ts" name="时间戳" value="${item.ts}" underline="true"/>
                            <#input id="dr" name="删除标记" value="${item.dr}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="FollowFeaturesInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="FollowFeaturesInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/fl/followFeatures/followFeatures_info.js"></script>
@}
