@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="序号" underline="true"/>
                            <#input id="rowno" name="行号" underline="true"/>
                            <#input id="hid" name="父序号" underline="true"/>
                            <#select id="breathShort" name="气短" underline="true">
                                <option value="1">新发</option>
                                <option value="2">不变</option>
                                <option value="3">缓解</option>
                                <option value="4">加重</option>
                            </#select>
                            <#select id="syncope" name="晕厥" underline="true">
                                <option value="1">新发</option>
                                <option value="2">不变</option>
                                <option value="3">缓解</option>
                                <option value="4">加重</option>
                            </#select>
                            <#input id="syncopeTimes" name="晕厥次数" underline="true"/>
                            <#input id="syncopeTime" name="晕厥时间" type="datetime-local" underline="true"/>
                            <#select id="hemoptysis" name="咳血">
                                <option value="1">新发</option>
                                <option value="2">不变</option>
                                <option value="3">缓解</option>
                                <option value="4">加重</option>
                            </#select>
                </div>

                <div class="col-sm-6">
                            <#input id="hemoptysisTimes" name="咳血次数" underline="true"/>
                            <#input id="hemoptysisMax" name="咳血时间" type="datetime-local" underline="true"/>
                            <#select id="swollen" name="浮肿" underline="true">
                                <option value="1">新发</option>
                                <option value="2">不变</option>
                                <option value="3">缓解</option>
                                <option value="4">加重</option>
                            </#select>
                            <#input id="others" name="其他" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="FollowFeaturesInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="FollowFeaturesInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/fl/followFeatures/followFeatures_info.js"></script>
@}
