@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">

        <div class="form-horizontal">
            <div class="row" id="followh">
                <div class="col-sm-4 b-r">
                    <#input id="followhid" name="随访编码" value="${item.followH.id}" disabled="disabled"/>
                    <#input id="followhcode" name="随访单编码" value="${item.followH.code}"/>
                    <#input id="followhdoctor" name="医生" value="${item.followH.doctor}" />
                    <#input id="followhpatientAge" name="患者年龄" value="${item.followH.patientAge}" />
                    <#input id="followhpatientPhone2" name="患者电话2" value="${item.followH.patientPhone2}"/>
                    <#input id="followhfamilyPhone" name="家属电话" value="${item.followH.familyPhone}" />
                </div>
                <div class="col-sm-4">
                    <#input id="followhname" name="随访单名称" value="${item.followH.name}" />
                    <#input id="followhpatientName" name="患者姓名" value="${item.followH.patientName}" />
                    <#input id="followhpatientMedno" name="患者病案号" value="${item.followH.patientMedno}" />
                    <#input id="followhpatientWechat" name="患者微信" value="${item.followH.patientWechat}" />
                    <#input id="followhpamilyPhone2" name="家属电话2" value="${item.followH.pamilyPhone2}" />
                </div>
                <div class="col-sm-4">
                    <#input id="followhdepartment" name="科室" value="${item.followH.department}" />
                    <#select id="followhpatientSex" name="患者性别"  >
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </#select>
                    <#input id="followhpatientPhone" name="患者电话" value="${item.followH.patientPhone}" />
                    <#input id="followhpatientAddress" name="患者地址"  value="${item.followH.patientAddress}" />
                </div>
            </div>

        <!--<div class="form-horizontal">-->
            <div class="row" id="followFeatures">
                <div class="col-sm-4 b-r">
                    <#input id="followFeaturesid" name="序号" value="${item.followFeatures.id}" underline="true"/>
                    <#input id="followFeaturessyncopeTimes" name="晕厥次数" value="${item.followFeatures.syncopeTimes}" underline="true"/>
                    <#input id="followFeatureshemoptysisMax" name="咳血量" value="${item.followFeatures.hemoptysisMax}" underline="true"/>
                </div>

                <div class="col-sm-4 b-r">
                    <#input id="followFeaturesbreathShort" name="气短" value="${item.followFeatures.breathShort}" underline="true"/>
                    <#input id="followFeaturessyncopeTime" name="晕厥时间" value="${item.followFeatures.syncopeTime}" underline="true"/>
                    <#input id="followFeaturesswollen" name="浮肿" value="${item.followFeatures.swollen}" underline="true"/>
                </div>

                <div class="col-sm-4">
                    <#input id="followFeaturessyncope" name="晕厥" value="${item.followFeatures.syncope}" underline="true"/>
                    <#input id="followFeatureshemoptysis" name="咳血" value="${item.followFeatures.hemoptysis}" underline="true"/>
                    <#input id="followFeaturesothers" name="其他" value="${item.followFeatures.others}" underline="true"/>
                </div>
            </div>
        <!--</div>-->

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="FollowHInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="FollowHInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/fl/followH/followH_info.js"></script>
@}
