@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
<!--                            <#input id="id" name="" underline="true"/>-->
                            <#input id="code" name="编码" underline="true" disabled="disabled"/>
<!--                            <#input id="name" name="" underline="true"/>-->
                            <#input id="department" name="科室" underline="true"/>
                            <#input id="doctor" name="医生" underline="true"/>
                            <#input id="patientName" name="患者姓名" underline="true"/>
                            <#input id="patientSex" name="患者性别" underline="true"/>
                            <#input id="patientAge" name="患者年龄" underline="true"/>
<!--                            <#input id="patientMedno" name="" underline="true"/>-->
                            <#input id="patientPhone" name="患者手机" underline="true"/>
<!--                            <#input id="patientPhone2" name="" underline="true"/>-->
                            <#input id="patientWechat" name="患者微信" underline="true"/>
                            <#input id="patientAddress" name="患者地址" underline="true"/>
                            <#input id="familyPhone" name="家属手机" underline="true"/>
                            <#input id="pamilyPhone2" name="" underline="true"/>
                            <#input id="deteriorate" name="" underline="true"/>
                            <#input id="hospitalization" name="" underline="true"/>
                            <#input id="number" name="" underline="true"/>
                            <#input id="pulmonary" name="" underline="true"/>
                            <#input id="rightheartfailure" name="" underline="true"/>
                            <#input id="hemoptysis1" name="" underline="true"/>
                            <#input id="other" name="" underline="true"/>
                            <#input id="pulmonaryembolism" name="" underline="true"/>
                            <#input id="lowervein" name="" underline="true"/>
                            <#input id="arrhythmia" name="" underline="true"/>
                            <#input id="death" name="" underline="true"/>
                            <#input id="deathdate" name="" underline="true"/>
                            <#input id="nonpertension" name="" underline="true"/>
                            <#input id="specific" name="" underline="true"/>
                            <#input id="review" name="" underline="true"/>
                            <#input id="hospitalizationdate1" name="" underline="true"/>
                            <#input id="hospitalizationdate2" name="" underline="true"/>
                            <#input id="hospitalizationdate3" name="" underline="true"/>
                            <#input id="deterioratespecific" name="" underline="true"/>
                            <#input id="regulardose" name="" underline="true"/>
                            <#input id="medicine_expenses" name=""  underline="true"/>
                            <#input id="medicine_untowardeffect" name=""  underline="true"/>
                            <#input id="medicine_curativeeffect" name="" underline="true"/>
                            <#input id="othersereason" name="" underline="true"/>
                            <#input id="xdnf" name="" underline="true"/>
                            <#input id="xdnfDosage" name="" underline="true"/>
                            <#input id="tdnf" name="" underline="true"/>
                            <#input id="tdnfDosage" name="" underline="true"/>
                            <#input id="facered1" name="" underline="true"/>
                            <#input id="headache1" name="" underline="true"/>
                            <#input id="stuffynose1" name="" underline="true"/>
                            <#input id="musclepain1" name="" underline="true"/>
                            <#input id="dizziness1" name="" underline="true"/>
                            <#input id="blurredvision1" name="" underline="true"/>
                            <#input id="hypotension1" name="" underline="true"/>
                            <#input id="menstrualdisorder1" name="" underline="true"/>
                            <#input id="other1" name="" underline="true"/>
                            <#input id="bst" name="" underline="true"/>
                            <#input id="bstDosage" name="" underline="true"/>
                            <#input id="mxtt" name="" underline="true"/>
                            <#input id="mxttDosage" name="" underline="true"/>
                            <#input id="facered2" name="" underline="true"/>
                            <#input id="headache2" name="" underline="true"/>
                            <#input id="stuffynose2" name=""/>
                </div>

                <div class="col-sm-6">
                            <#input id="musclepain2" name="" underline="true"/>
                            <#input id="dizziness2" name="" underline="true"/>
                            <#input id="transaminaseraise2" name="" underline="true"/>
                            <#input id="anemia2" name="" underline="true"/>
                            <#input id="peripheraledema2" name="" underline="true"/>
                            <#input id="hypotension2" name="" underline="true"/>
                            <#input id="menstrualdisorder2" name="" underline="true"/>
                            <#input id="other2" name="" underline="true"/>
                            <#input id="bqls" name="" underline="true"/>
                            <#input id="bqlsDosage" name="" underline="true"/>
                            <#input id="rmdl" name="" underline="true"/>
                            <#input id="rmdlDosage" name="" underline="true"/>
                            <#input id="facered3" name="" underline="true"/>
                            <#input id="headache3" name="" underline="true"/>
                            <#input id="stuffynose3" name="" underline="true"/>
                            <#input id="musclepain3" name="" underline="true"/>
                            <#input id="diarrhea3" name="" underline="true"/>
                            <#input id="localpain3" name="" underline="true"/>
                            <#input id="hypotension3" name="" underline="true"/>
                            <#input id="other3" name="" underline="true"/>
                            <#input id="laxg" name="" underline="true"/>
                            <#input id="laxgDosage" name="" underline="true"/>
                            <#input id="facered4" name="" underline="true"/>
                            <#input id="headache4" name="" underline="true"/>
                            <#input id="stuffynose4" name="" underline="true"/>
                            <#input id="dizziness4" name="" underline="true"/>
                            <#input id="diarrhea4" name="" underline="true"/>
                            <#input id="hypotension4" name="" underline="true"/>
                            <#input id="other4" name="" underline="true"/>
                            <#input id="routineblood" name="" underline="true"/>
                            <#input id="bloodbiochemistry" name="" underline="true"/>
                            <#input id="nt" name="" underline="true"/>
                            <#input id="ntnumber" name="" underline="true"/>
                            <#input id="sexhormone" name="" underline="true"/>
                            <#input id="ironmetabolism" name="" underline="true"/>
                            <#input id="walk" name="" underline="true"/>
                            <#input id="walkdistance" name="" underline="true"/>
                            <#input id="ct" name="" underline="true"/>
                            <#input id="cprt" name="" underline="true"/>
                            <#input id="mri" name="" underline="true"/>
                            <#input id="othercheck" name="" underline="true"/>
                            <#input id="breathShort" name="" underline="true"/>
                            <#input id="syncope" name="" underline="true"/>
                            <#input id="syncopeTimes" name="" underline="true"/>
                            <#input id="syncopeTime" name="" underline="true"/>
                            <#input id="hemoptysis" name="" underline="true"/>
                            <#input id="hemoptysisTimes" name="" underline="true"/>
                            <#input id="hemoptysisMax" name="" underline="true"/>
                            <#input id="swollen" name="" underline="true"/>
                            <#input id="others" name="" underline="true"/>
                            <#input id="creator" name="" underline="true"/>
                            <#input id="creationTime" name="" underline="true"/>
                            <#input id="modifier" name="" underline="true"/>
                            <#input id="modifiedTime" name="" underline="true"/>
                            <#input id="ts" name="" underline="true"/>
                            <#input id="dr" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="FollowInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="FollowInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/follow/follow/follow_info.js"></script>
@}
